<!DOCTYPE html>
<html>
    <head>
        <% include ../common/head %>
    </head>
    <body>
        <% include ../common/header %>
        <div class="main-wrap">
            <div class="intro-wrap content-wrap">
                <h1><p>2016 ~ 2017</p>MEAN Stack Study</h1>
                <p>MongoDB + Express + AngularJS + NodeJS </p>
            </div>
            <div class="skill-wrap content-wrap">
                <p>Encoding : UTF-8 </p>
                <p>
                    <button type="button" class="btn btn-default">jQuery 1.9</button>
                    <button type="button" class="btn btn-primary">jQuery UI</button>
                    <button type="button" class="btn btn-success">Bootstrap</button>
                    <button type="button" class="btn btn-info">반응형</button>
                </p>
            </div>
        </div>
        <% include ../common/footer %>
    </body>
</html>
