<!-- views/partials/footer.ejs -->
<div id="footer" class="panel-footer" style="text-align: center;margin-top: 20px;">
	<p>Copyright (C) 2016 by Study Group, Steve. Hong All right reserved.</p>
</div>
