<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/flat-ui/dist/css/flat-ui.min.css" />
<link rel="stylesheet" href="/css/common.css" />
<!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css"> -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>

<!-- <script type="text/javascript" src="/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/form_validation.js"></script>
<script type="text/javascript" src="/js/highlight.js"></script>
<!--[if lte IE 8]>
  <script>
    document.createElement('footer');
    document.createElement('header');
  </script>
<![endif]-->
<script>
$(document).ready(function() {
    $('[data-toggle="popover"]').popover({container: "body"});
});
</script>
<title>2016 신림 스터디</title>
