<div class="modal fade" id="READ_MODAL" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><%= board.title %></h4>
                <small class="pull-left"><%= board.author %></small>
                <small class="pull-right"><%= formatDate(board.createdAt, 'YYYY.MM.DD') %></small>
            </div>
            <div class="modal-body" style="min-height: 300px">
                <%= board.body %>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
            </div>
        </div>
    </div>
</div>
