<!DOCTYPE html>
<html>
<head>
    <% include ../common/head %>
</head>
<body>
    <% include ../common/header %>
    <div class="board-wrap content-wrap">
        <h1>수정</h1>
        <form id="UPDATE_form">
            <div class="modal-body login-form">
                <div class="form-group">
                    <input type="text" name="subject" class="form-control login-field" value="<%= subject %>" placeholder="Subject" id="UPDATE_subject">
                    <label class="login-field-icon fui-mail" for="UPDATE_subject"></label>
                </div>
                <div class="form-group">
                    <textarea class="form-control login-field" name="contents" rows="10" placeholder="Contents"><%= contents %></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" value="Cancel" onclick="location.href = '/board/read?subject=<%= subject %>&contents=<%= contents %>';"/>
                <input type="submit" class="btn btn-primary" value="OK"/>
            </div>
        </form>
    </div>
    <% include ../common/footer %>
</body>
</html>
